.form-task{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1rem;
    align-items: center;
}

.form-task p{
    display: flex;
    height: auto;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    flex-direction: column;
    gap: .5rem;
}

.form-task select{
    height: auto;
    margin: 0;
    width: 100%;
    outline: none;
    border-radius: 0;
    border: none;
    background-color: inherit;
}

.form-task p > input{
    box-sizing: border-box;
    background-color: inherit;
    width: 100%;
    border: none;
    color: #666;
    font-size: 1.06rem;
}

.form-task p > input:focus{
    box-sizing: border-box;
    color: #333;
    outline: none;
}

.form-task p > label{
    display: none;
}

.form-task p > span{
    box-sizing: border-box;
    color: #333;
    font-size: .85rem;
}

.form-task ul > li{
    box-sizing: border-box;
    color: #333;
    font-size: .85rem;
}

.form-task ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.form-task__submit{
    outline: none;
    border: none;
    background-color: inherit;
    color: #333;
    transition: all .2s ease-in-out;
    font-size: 1.06rem;
}

.form-task__submit:hover{
    color: black;
    cursor: pointer;
}