{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/2f3ec2c470.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'todoapp/css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'todoapp/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'todoapp/css/form.css' %}">
    <link rel="stylesheet" href="{% static 'todoapp/css/form-task.css' %}">
    <link rel="stylesheet" href="{% static 'todoapp/css/login.css' %}">
    <title>Minimalistic task management system</title>
</head>
<body>
    <div class="wrapper">
        {% block root %}
        {% endblock root %}
    </div>
</body>
</html>